<h1>Create a Blog!</h1>
<form action='/posts' method="POST">
  <p>
  <label>Post Title:</label>
    <input type="text" name="name" ><br>
  <label>Post Content:</label>
    <input type="text" name="content" ><br>
  </p>
  <input type="submit" value="submit">
  </form>
